apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: nginx-deployment
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:1.11
        ports:
        - containerPort: 80
        volumeMounts:
        - name: azure
          mountPath: /etc/nginx
      volumes:
      - name: azure
        azureFile:
          secretName: azure-secret
          shareName: k8s-volumes
          readOnly: false
